<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" *ngIf="activeRoute === '/dashboard'"
      [routerLink]="['/dashboard']">Dashboard</a>
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" *ngIf="activeRoute === '/announcements'"
      [routerLink]="['/announcements']">Announcements</a>
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" *ngIf="activeRoute === '/tracer'"
      [routerLink]="['/tracer']">tracer</a>
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" *ngIf="activeRoute === '/livefeed'"
      [routerLink]="['/livefeed']">LiveFeed</a>
      <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" *ngIf="activeRoute === '/reports'"
      [routerLink]="['/reports']">Reports</a>
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" *ngIf="activeRoute === '/settings'"
      [routerLink]="['/settings']">Settings</a>
    <!-- <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
      <div class="form-group mb-0">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" placeholder="Search" type="text">
        </div>
      </div>
    </form> -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item dropdown">
        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="../../../assets/img/logo.png">
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm  font-weight-bold">BeHale Admin Dashboard</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <div class="dropdown-divider"></div>
          <a href="#!" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="header bg-gradient-primary pb-4 pt-7 pt-md-7">
  <div class="container-fluid">
    <div class="header-body" *ngIf="activeRoute === '/dashboard'">
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Cases</h5>
                  <span class="h2 font-weight-bold mb-0">{{globalData?.cases}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                    <i class="fas fa-procedures"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">{{dateTime}}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Deaths</h5>
                  <span class="h2 font-weight-bold mb-0">{{globalData?.deaths}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-book-dead"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">{{dateTime}}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Recovered</h5>
                  <span class="h2 font-weight-bold mb-0">{{globalData?.recovered}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <i class="fas fa-walking"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">{{dateTime}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
