.feeds-main {
  .health-left {
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 3%;
    background-color: #fff;

    .hltop {
      h5 {
        margin-top: 3% !important;
        font-size: 1.1rem;
        font-family: sm;
      }
    }

    .hlbot {
      margin-top: 3%;

      .hlfe-card {
        padding: 3%;
        box-shadow: 0 4px 16px rgba(0, 0, 0, .12);
        border-radius: 20px;
        margin-bottom: 2%;

        .img {
          width: 70px !important;
          height: 70px !important;

          img {
            object-fit: cover;
          }
        }

        h6 {
          font-size: .9rem;
          margin: 1% 0 2% 3% !important;
        }

        .btn {
          background-color: var(--color-ms);
          color: #fff;
        }
      }
    }
  }
}
