<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <app-sidenav></app-sidenav>
</nav>
<div class="main-content">
  <app-navbar></app-navbar>
  <div class="container-fluid mt--7">
    <div class="feeds-main default-main">
      <app-loader></app-loader>
      <div class="row">
        <div class="col-lg-6">
          <div class="health-left">
            <div class="hltop d-flex justify-content-between">
              <h5 class="m-0 text-capitalize">{{newsType}}</h5>
              <div class="dropdown open">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Get Latest News
                </button>
                <div class="dropdown-menu" aria-labelledby="triggerId">
                  <button class="dropdown-item" (click)="getNewCategories('coronavirus')">Coronavirus</button>
                  <button class="dropdown-item" (click)="getNewCategories('hospital')">Hospital</button>
                  <button class="dropdown-item" (click)="getNewCategories('health')">Health</button>
                  <button class="dropdown-item" (click)="getNewCategories('exercise')">Exercises</button>
                </div>
              </div>
            </div>
            <div class="hlbot">
              <div class="hlfe-card" *ngFor="let news of newsGetData">
                <div class="d-flex justify-content-start">
                  <div class="img">
                    <img [src]="news?.urlToImage" width="70px" height="70px" alt="">
                  </div>
                  <div>
                    <h6 class="m-0">
                      {{news?.title}}
                    </h6>
                  </div>
                </div>
                <div class="text-right">
                  <button type="button" class="btn btn-sm" (click)="addFeed(news)">Add Feed</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="health-left">
            <div class="hltop d-flex justify-content-between">
              <h5 class="m-0 text-capitalize">{{newsCatType}}</h5>
              <div class="dropdown open">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="newsFeed" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Get News Category
                </button>
                <div class="dropdown-menu" aria-labelledby="newsFeed">
                  <button class="dropdown-item" (click)="changeNews('coronavirus')">Coronavirus</button>
                  <button class="dropdown-item" (click)="changeNews('hospital')">Hospital</button>
                  <button class="dropdown-item" (click)="changeNews('health')">Health</button>
                  <button class="dropdown-item" (click)="changeNews('exercise')">Exercises</button>
                </div>
              </div>
            </div>
            <div class="hlbot">
              <div class="hlfe-card" *ngFor="let news of newCatAllData">
                <div class="d-flex justify-content-start">
                  <div class="img">
                    <img [src]="news?.urlToImage" width="70px" height="70px" alt="">
                  </div>
                  <div>
                    <h6 class="m-0">
                      {{news?.title}}
                    </h6>
                  </div>
                </div>
                <div class="text-right">
                  <button type="button" class="btn btn-sm" (click)="deleteFeed(news?.feedKey)">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
