<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <app-sidenav></app-sidenav>
</nav>
<div class="main-content">
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="announcement-main default-container">
      <app-loader></app-loader>
      <div class="anntop d-flex justify-content-end">
        <button type="button" class="btn btn-light" (click)="getAnnouncements()">
          <i class="fas fa-redo-alt"></i>
        </button>
        <button type="button" class="btn btn-md" data-toggle="modal" (click)="changeModal('add')"
          data-target="#announceId">
          <i class="fas fa-bullhorn"></i> Add announcement
        </button>
      </div>
      <div class="annbot" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="getMoreCountryAment()">
        <div class="row">
          <div class="col-lg-4" *ngFor="let data of announceData">
            <div class="ann-card">
              <div class="d-flex justify-content-between">
                <span class="badge badge-pill"
                  [ngClass]="{'badge-warning': data?.type ==='warning', 'badge-danger': data?.type ==='important', 'badge-success': data?.type ==='general'}">{{data?.type}}</span>
                <span class="badge-date">{{data?.createdAt * 1000 | date:'medium'}}</span>
              </div>
              <h5 class="m-0">{{data?.title}}</h5>
              <p class="m-0">
                {{data?.body}}
              </p>
              <div class="d-flex justify-content-end mt-2">
                <button type="button" class="btn btn-light" data-toggle="modal" (click)="changeModal('delete', data)"
                  data-target="#announceId">
                  <i class="fas fa-trash-alt"></i>
                </button>
                <button type="button" class="btn btn-light" data-toggle="modal" (click)="changeModal('edit', data)"
                  data-target="#announceId">
                  <i class="fas fa-edit"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade announce-modal" id="announceId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="modalType === 'add'">Add Announcements</h5>
          <h5 class="modal-title" *ngIf="modalType === 'edit'">Edit Announcements</h5>
          <h5 class="modal-title" *ngIf="modalType === 'delete'">Delete Announcements</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="modalType === 'add'">
          <form [formGroup]="annoForm">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="title" name="title" id="title"
                placeholder="Title">
            </div>
            <div class="form-group">
              <select class="form-control" formControlName="type" name="annotype" id="annotype" placeholder="Type">
                <option value="general">General</option>
                <option value="important">Important</option>
                <option value="warning">Warning</option>
              </select>
            </div>
            <div class="form-group">
              <textarea class="form-control" formControlName="body" name="desc" id="desc" placeholder="Body"
                rows="5"></textarea>
              <!-- <small id="desc" class="form-text text-muted text-right">1000</small> -->
            </div>
          </form>
        </div>
        <div class="modal-body" *ngIf="modalType === 'edit'">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="editTitle" name="title" id="title"
                placeholder="Title">
            </div>
            <div class="form-group">
              <select class="form-control" [(ngModel)]="editType" name="annotype" id="annotype">
                <option value="general">General</option>
                <option value="important">Important</option>
                <option value="warning">Warning</option>
              </select>
            </div>
            <div class="form-group">
              <textarea class="form-control" [(ngModel)]="editBody" name="desc" id="desc" placeholder="Body"
                rows="5"></textarea>
              <!-- <small id="desc" class="form-text text-muted text-right">1000</small> -->
            </div>
          </form>
        </div>
        <div class="modal-body mb-3" *ngIf="modalType === 'delete'">
          <h6 class="m-0 text-center">Are you sure you want to delete '{{editData.title}}' announcement?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addAnnouncement()"
            [disabled]="!annoForm.valid" *ngIf="modalType === 'add'">Save</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editAnnounce()"
            *ngIf="modalType === 'edit'">Save
            Edit</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delAnnounce()"
            *ngIf="modalType === 'delete'">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>