
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$behaleteam-web-primary: mat-palette($mat-indigo);
$behaleteam-web-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$behaleteam-web-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$behaleteam-web-theme: mat-light-theme($behaleteam-web-primary, $behaleteam-web-accent, $behaleteam-web-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($behaleteam-web-theme);

/* You can add global styles to this file, and also import other style files */
@import 'assets/css/toast.css';

@font-face {
  font-family: 'sr';
  src: url('assets/fonts/Sen-Regular.ttf');
}


@font-face {
  font-family: 'sb';
  src: url('assets/fonts/Sen-ExtraBold.ttf');
}

@font-face {
  font-family: 'sm';
  src: url('assets/fonts/Sen-Bold.ttf');
}

* {
  font-family: sr;
}

@media (min-width: 768px) {
  .navbar-vertical.navbar-expand-md .navbar-brand-img {
    max-height: 9.5rem;
  }
}

:root {
  --color-mp: #381460;
  --color-ms: #fe346e;
}

.default-main {
  margin-top: 10.2%;
}

.default-container {
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  height: auto;
  padding: 3%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
