/* You can add global styles to this file, and also import other style files */
@import 'assets/css/toast.css';

@font-face {
  font-family: 'sr';
  src: url('assets/fonts/Sen-Regular.ttf');
}


@font-face {
  font-family: 'sb';
  src: url('assets/fonts/Sen-ExtraBold.ttf');
}

@font-face {
  font-family: 'sm';
  src: url('assets/fonts/Sen-Bold.ttf');
}

* {
  font-family: sr;
}

@media (min-width: 768px) {
  .navbar-vertical.navbar-expand-md .navbar-brand-img {
    max-height: 9.5rem;
  }
}

:root {
  --color-mp: #381460;
  --color-ms: #fe346e;
}

.default-main {
  margin-top: 10.2%;
}

.default-container {
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  height: auto;
  padding: 3%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
